<h1><%= @course.title %></h1>

<% unless @groups.any? %>
  <p>No current groups</p>
<% else %>
  <% @groups.each do |group| %>
    <h2><%= group.start_at %> (<%= pluralize(group.students_count, "student") %>)</h2>
    <% if group.students.any? %>
      <table border="1">
        <thead>
          <th>Name</th>
          <th>E-mail</th>
        </thead>
        <tbody>
          <% group.students.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= mask_email(student.email) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>
